doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Tourist area
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap')
    link(rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    link(rel='stylesheet' href='./style.css')
  body
    // partial:index.partial.html
    .head
      .headtitle
        h1 台灣觀光資訊
        h3 202012月活動，資料來源:政府開放平台
    .container
      p 載入中
      //- .card
      //- .icon 
      //-   .pic
      //-   .tag 台北市
      //-   .bookbtn
      //-     i.far.fa-bookmark
      //- .top
      //-   .title 2020小鎮遊戲趣-紙風車劇團來了！
      //-   .adr 暖暖區-暖暖東勢坑產業步道暖暖區-暖暖東勢坑產
      //-     .notic 2020年暫停辦理"
      //-   .time 日期:2020-12-07-2020-12-07
      //-   .text 詳細資訊:<br>宜蘭國際童玩藝術節有著與眾不同的主題-「童玩」，童玩節是宜蘭想要提供給兒童們一個可以與父母同樂...
      //-   .bluebar 
    // partial
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='./script.js')

  